/**
 * Copyright 2025 Beijing Volcano Engine Technology Co., Ltd. All Rights Reserved.
 * SPDX-license-identifier: BSD-3-Clause
 */

.container {
  position: absolute;
  right: 0;
  top: 148px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
  }
}
